:root{
    --primary-color: #009FFD;
    --secondary-color: #1565B8;
    --accent1-color:#2a2a72;
    --accent2-color:#EAF6FF;
    --heading-font: 'Montserrat';
    --body-font: 'Roboto';
}

header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}


h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2{
    text-align: center;
}

section img{
    max-height: 150px;
    max-width: 150px;
}
section .img{
    display: flex;
    flex-direction: row;
    gap: 20px;

}

figcaption {
  margin-top: 8px;
  font-weight: bold;
  color: #333;
}

.img {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

 p, section, article{
    margin: 16px;
    padding: 8px;
}

nav {
    margin: 16px;
    padding: 8px;
     display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
}

.hero article {
    position: absolute;
    box-shadow:10px 0 10px black;
}

.socialmedia {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.socialmedia img{
    height: 45px;
    width: 45px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #FFF;
}

.hero article img {
    float: right;
    width: 125px;
}


footer{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.hero article {
    position: absolute;
    box-shadow:10px 0 10px black;
    top: 200px;
}